//Login Section

.screenAdjustment {
  margin-left: 22px;
  margin-top: 20px;
  padding-bottom: 25px;
}

.screenAdjustmentHome {
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 20px;
  padding-bottom: 25px;
  // border-bottom: 1px solid #348ccb; /* Added 'solid' as the border style */
  // border-bottom-width: 1px;
  // border-bottom-color: #b7b7b7;
}

.welcomeText {
  color: #191919;
  font-size: 30px;
  font-family: 'BebasNeue_400Regular';
}

.welcomeTextContainer {
  display: flex;

  padding-top: 50%;
  margin-left: 10px;
}

.subWelcomeText {
  padding-top: 10px;
  font-size: 15px;
  width: 165.933px;
}

.loginFieldsContainer {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 10px;
}

.inputContainer {
  width: 330px;
  height: 48.177px;
  flex-shrink: 0;
  background-color: #f5f5f5;
  margin-bottom: 20px;

  border: 1px solid #00000040;
  border-radius: 10px;
  padding-left: 10px;
  margin-top: 10px;
}

// .fieldParent {
// }

.fieldHeader {
  color: #3a4750;
  font-size: 16px;
}

.loginBttn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 331px;
  height: 59px;
  flex-shrink: 0;
  background-color: #f2998d;
  margin: 35px 20px;
  border-radius: 10px;
  margin-left: 10px;
}

.loginText {
  font-family: 'BebasNeue_400Regular';
  font-size: 22px;
  color: #fff;
}

.analyticsBox {
  margin-top: 10%;
  background-color: #ffffff;
  width: 200px;
  height: 60px;
  border-radius: 10px;
}

.analyticsBoxContainer {
  display: flex;
  flex-direction: row;
  // flex-direction: row;
}

.analyticsName {
  margin-left: 120%;
}

.topBoxsContainer {
  display: flex;
  flex-direction: row;
}

.summaryText {
  padding-top: 20px;
}

.cardBusinessText {
  font-weight: bold;
}

.cardContents {
  display: flex;

  flex-direction: row;

  align-items: center;
}

.topBoxText {
  padding: 10px 10px;
  font-weight: bold;
  font-size: 15px;
}
.analyticsContent {
  display: flex;
  align-items: center;
  padding: 0% 10%;
  flex-direction: column;
}

// .analyticsContent > * {
//   padding-top: 30px;
// }

.businessTitle {
  position: relative;
  padding-bottom: 30px;
}
