.forgotPasswordLayout {
    flex: 1;
    display: flex;
    background-color: #fcfcfc;
    align-items: center;
  }
  
  .forgotPasswordAdjustment {
    margin-top: 10px;
    padding-bottom: 25px;
    margin-left: 11%;
  }

.forgotPasswordContainer{
    flex-direction: column;
    margin-top: 20;
    display: flex;
}

.forgotPasswordText{
    margin-top: 20;
    margin-left: 10;
    color: #191919;
    font-size: 30px;
    font-family: 'BebasNeue_400Regular';
}

.subforgotPasswordText{
    margin-left: 8px;
    padding-right: 70px;
    padding-top: 10px;
    font-size: 14px;
    width: 400px;

}

.input{

}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 331px;
    height: 52px;
    flex-shrink: 0;
    background-color: #f2998d;
    margin: 35px 20px;
    border-radius: 10px;
    margin-left: 6px;

}

.buttonText{

    font-family: 'BebasNeue_400Regular';
    font-size: 22px;
    color: #fff;        
}

.inputContainer{
    margin-left: 7px;
    width: 330px;
    height: 48.177px;
    flex-shrink: 0;
    background-color: #f5f5f5;
    margin-bottom: 20px;
  
    border: 1px solid #00000040;
    border-radius: 10px;
    padding-left: 10px;
    margin-top: 10px;
}

.buttonHeader{
    margin-left: 8px;
    color: #3a4750;
    font-size: 13px;
    padding-top: 20px;
}

