.safeAreaViewBase {
  flex: 1;
  background-color: #fff;
}

.safeAreaViewContainer {
  //   flex: 1;
  padding-bottom: 10px;
  //   background-color: #f9f9f9;
}
.headerContainer {
  padding: 1.25rem; // 1.25rem equals 5px in Tailwind's default spacing scale
  background-color: #fff;
  //   box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}

.finalLookText {
  font-weight: bold;
  font-size: 14px;
  text-align: center;
}

.resturantName {
  text-align: center;
  color: gray;
}

.backBttn {
  border-radius: 9999px; // large enough to make a circle (rounded-full)
  //   background-color: #f3f4f6; // bg-gray-100
  position: absolute; // absolute
  top: 0.2rem; // 3 * 0.25rem = top-3
  right: 1.25rem; // 5 * 0.25rem = right-5
}

.noCartImage {
  width: 300px;
  height: 300px;
}

.emptyCartContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 200;
}

.shopNexaBttn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 40px;
  flex-shrink: 0;
  bottom: 20px;
  color: white;
  background-color: #ebebeb;
  //   margin: 35px 20px;
  border-radius: 10px;
  //   margin-left: 10px;
}

.shopNexaText {
  font-weight: bold;
  font-size: 12px;
}

.userImageParent {
  display: flex; // flex-row
  flex-direction: row; // flex-row
  align-items: center; // items-center
  justify-content: space-between; // space-x-4 (since there's no direct equivalent to space-between, it's used to create space between items)
  padding-left: 1rem; // px-4
  padding-right: 1rem; // px-4
  padding-top: 1rem; // py-4
  padding-bottom: 1rem; // py-4
  background-color: #fff; // bg-white
  margin-top: 1.25rem; // my-5 (my-5 sets top and bottom margin to 1.25rem)
  margin-bottom: 1.25rem; // my-5 (my-5 sets top and bottom margin to 1.25rem)
}

.userImage {
  height: 1.75rem; // h-7 (1.75rem = 7 * 0.25rem)
  width: 1.75rem; // w-7 (1.75rem = 7 * 0.25rem)
  background-color: #d1d5db; // bg-gray-300
  padding: 1rem; // p-4 (1rem = 4 * 0.25rem)
  border-radius: 9999px; // large enough to make a circle (rounded-full)
}

.deliveryHeader {
  flex: 1;
}

.changeBttn {
  color: #e985aa;
}

.scrollViewParent {
  border-color: #e5e7eb; // divide-gray-200
  border-style: solid; // divide-y
  border-width: 0; // to prevent additional border on sides
  border-top-width: 1px; // to create the vertical dividing line
}

.itemsContainer {
  display: flex; // flex-row
  flex-direction: row; // flex-row
  align-items: center; // items-center
  padding-top: 0.5rem; // py-2 (0.5rem = 2 * 0.25rem)
  padding-bottom: 0.5rem; // py-2 (0.5rem = 2 * 0.25rem)
  padding-left: 1.25rem; // px-5 (1.25rem = 5 * 0.25rem)
  padding-right: 1.25rem; // px-5 (1.25rem = 5 * 0.25rem)
  background-color: #fff; // bg-white
}

.itemsContainer > * + * {
  margin-left: 1.3rem; // space-x-3 (0.75rem = 3 * 0.25rem)
}

.itemPhoto {
  height: 3rem; // h-12 (3rem = 12 * 0.25rem)
  width: 3rem; // w-12 (3rem = 12 * 0.25rem)
  border-radius: 9999px; // large enough to make a circle (rounded-full)
}

.itemName {
  flex: 1;
  padding-left: 10px;
}

.priceText {
  color: #757575;
  padding-right: 10px;
}

.priceContainer {
  padding: 1.25rem; // p-5 (1.25rem = 5 * 0.25rem)
  background-color: #fff; // bg-white
  margin-top: 1.25rem; // mt-5 (1.25rem = 5 * 0.25rem
}

.priceContainer > * + * {
  margin-top: 1rem; // space-y-4 (1rem = 4 * 0.25rem)
}

.priceContainerChild {
  display: flex; // flex-row
  flex-direction: row; // flex-row
  justify-content: space-between; // justify-between
}

.priceColor {
  color: #bdbdbd;
}

.finalPriceText {
  font-weight: bold;
}

.placeOrderBttn {
  //   display: flex;
  padding: 1%;
  align-items: center;
  justify-content: center;
  background-color: #f2998d;
  border-radius: 10px;
  width: 100%;
  //   margin-top: 10px;
  text-align: center;
  //   height: 1%;
  color: white;
  font-weight: bold;
}

.placeOrderParent {
  padding-top: 10px;
}

.openCartsTitle {
  font-size: 30px;
  padding-top: 15px;
  font-family: 'BebasNeue_400Regular';
}

.screenContainer {
  padding-top: 10px;
  padding-left: 10px;
}

.cartsContainer {
  padding-top: 10px;
}

.touchableOpacityParent {
  background-color: #fff; // bg-white
  border: 1px solid #cdcdce; // border + border-gray-200
  padding: 1rem; // p-4 (1rem = 4 * 0.25rem)
  border-radius: 12px;
  margin-right: 14px;
  height: 210px;
}

.cartRowParent {
  display: flex;
  flex-direction: row;
}

.nameContainer {
  flex: 1; // flex-1
  padding-right: 0.5rem; // pr-2 (0.5rem = 2 * 0.25rem)
}

.storeName {
  font-size: 14px; // text-lg (1.125rem equals 1.125rem in Tailwind's default font-size scale)
  margin-bottom: 0.25rem; // mb-1 (0.25rem = 1 * 0.25rem)
  font-weight: bold;
  font-size: 16px;
  padding-left: 10px;
}

.cartImage {
  height: 3rem; // h-20 (5rem = 20 * 0.25rem)
  width: 3rem; // w-20 (5rem = 20 * 0.25rem)
  background-color: #d1d5db; // bg-gray-300
  padding: 1rem; // p-4 (1rem = 4 * 0.25rem)
  border-width: 1px; // borderWidth: 1
  border-radius: 999px;
  border-color: #f3f3f4; // borderColor: '#F3F3F4'
  // padding-right: 10px;
}

.itemsListed {
  display: flex;
  flex-wrap: wrap; // Add this line
  flex-direction: row;
  max-width: 80%; // Adjust max-width as needed
}

.groupedItems {
  color: #646464;
  margin-right: 5px; // Adjust as needed for spacing between items
  margin-bottom: 5px; // Add margin-bottom to create space between lines
}

.itemParent {
  margin-left: 10px;
}

.itemsImagesContainer {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
}

.itemImageXs {
  height: 2rem; // h-20 (5rem = 20 * 0.25rem)
  width: 2rem; // w-20 (5rem = 20 * 0.25rem)
  background-color: #d1d5db; // bg-gray-300
  padding: 1rem; // p-4 (1rem = 4 * 0.25rem)
  // padding-right: 10px;
  border-width: 1px; // borderWidth: 1
  border-radius: 999px;
  border-color: #f3f3f4; // borderColor: '#F3F3F4'
  // padding-right: 10px;
}

.scrollViewParent {
  height: 100%;
}
.cartBttn {
  width: 100%;
  background-color: #dcdcdc;
  border-radius: 30px;
  margin-top: 20px;
  padding: 8px 0;
  align-items: center;
}

.storeBttn {
  width: 100%;
  // background-color: #dcdcdc;
  border-radius: 30px;
  margin-top: 20px;
  // padding: 5px 0;
  align-items: center;
}

.bttnText {
  font-weight: bold;
  font-size: 12px;
}
