.profileLayout {
  flex: 1;
  display: flex;
  background-color: #fcfcfc;
  justify-content: space-between;
}

.profileAdjustment {
  margin: 0 32px;
  margin-top: 45px;
  padding-bottom: 25px;
}

.leftIcon {
  margin: 0;
  padding: 0;
}

.accInfoTextBox {
  // padding-top: 25px;
  // margin-left: 10px;
  flex-direction: column;
}

.accInfoHeader {
  color: #191919;
  font-size: 30px;
  font-family: 'BebasNeue_400Regular';
  margin-top: 7%;
}

.accInfoText {
  padding-top: 10px;
  font-size: 15px;
  width: 240px;
}

.accInfoBoxes {
  display: flex;
  flex-direction: column;
  top: 15%;
}
.border {
  margin-bottom: 10%; /* Adjust as needed */
}

.editBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.accBoxWords {
  flex-direction: column;
}

.accBoxTitle {
  margin-bottom: 7px;
  // color:#F2998D;
  font-family: 'BebasNeue_400Regular';
  font-size: 19px;
}

.accInfo {
  font-size: 14px;
  color: #2e2e2e;
}

.divider {
  height: 1px;
  background-color: #e4e4e4; /* Color of the divided line */
  margin: 10px 0; /* Adjust margin as needed */
}

.inputs {
  margin-top: 10%;
}

.inputHeader {
  color: black;
  font-size: 16px;
}

.inputWrapper {
  width: 100%;
  height: 48.177px;
  flex-shrink: 0;
  background-color: #f5f5f5;
  margin-bottom: 30px;
  border: 1px solid #00000040;
  border-radius: 10px;
  padding-left: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center; /* Center children vertically */
  justify-content: center; /* Center children horizontally */
}

.icon {
  margin-right: 10px;
}
.inputContainer {
  flex: 1;
  height: 100%;
}

.updateBttn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 59px;
  flex-shrink: 0;
  background-color: #f2998d;
  border-radius: 10px;
  margin-top: 5%;
}

.updateBttnDisabled {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 59px;
  flex-shrink: 0;
  background-color: #d8d6d6;
  border-radius: 10px;
  margin-top: 5%;
}

.updateBttnText {
  font-family: 'BebasNeue_400Regular';
  font-size: 22px;
  color: #fff;
}

.securityBox {
  display: flex;
  flex-direction: column;
  top: 25%;
}

.modalContainer {
  // position: fixed;
  flex: 1;
  display: flex;
  background-color: 'rgba(0, 0, 0, 0.5)';
  justify-content: flex-end;
}

.modalContent {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  align-items: center;
  height: 20%;
}

.modalText {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-family: 'BebasNeue_400Regular';
}

.modalButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.cancelBttn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e3e3e3;
  border-radius: 10px;
  width: 45%;
  height: 80%;
}

.cancelBttnText {
  font-size: 15px;
}

.suspendConfirmBttn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2998d;
  border-radius: 10px;
  width: 45%;
  height: 80%;
  color: white;
}

.suspendConfirmBttnText {
  color: white;
  font-size: 15px;
  font-weight: bold;
}

.modalTextSecondaryContainer {
  bottom: 14px;
}
