.profileLayout {
    flex: 1;
    display: flex;
    background-color: #FFF;
  }
  
  .profileAdjustment {

  }

  .profileHeader{
    background-color: #FFFF;
    width: 100%;
    height: 45%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    // padding-top: 45px;
    // margin-bottom: 35px;
  }

  .profileUser{
    margin-bottom: 15px;
  }

  .profileName{
    // top: 30%;
    color:#F2998D;
    font-weight: 700;
    font-size: 17px;
  }

  .profileBottom{
    display: flex;
    flex-direction: column;

  }

  .profileBottomHeader{
    font-size: 20px;
    padding-left: 20px;
    margin-bottom: 15px;
    font-family: 'BebasNeue_400Regular';
  }

  .profileBox{
    background-color: #f4f4f4;
    flex-direction: row;
    padding: 18px;
    padding-left: 18px;
    align-items: center;
    margin-bottom: 10px;
  }

  .profileText{
    font-size: 15px;
    margin-left: 10px;
  }

  .modalContainer {
    // position: fixed;
    flex: 1;
    display: flex;
    background-color: 'rgba(0, 0, 0, 0.5)';
    justify-content: flex-end;
  }
  
  .modalContent {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    align-items: center;
    height:20%;
  }
  
  .modalText {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'BebasNeue_400Regular';
  }
  
  .modalButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }
  
  .cancelBttn{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e3e3e3;
    border-radius: 10px;
    width: 45%;
    height: 80%;
  }

  .cancelBttnText{
    font-size: 15px;
  }

  .logoutConfirmBttn{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2998d;
    border-radius: 10px;
    width: 45%;
    height: 80%;
    color: white;
  }

  .logoutConfirmBttnText{
    color: white;
    font-size: 15px;
  }

  
  